***CICLOS REPETITIVOS***

***CICLO FOR***

In [ ]:
for c in (1,2,3,4,5,5):
  print(c)

1
2
3
4
5
5

In [ ]:
for j in "1,2,3,4,5,5":
  print(j)

1
,
2
,
3
,
4
,
5
,
5

In [ ]:
for j in "Cristian":
  print(j)

C
r
i
s
t
i
a
n

***Funcion RANGE(Start, Stop, Step) significa: RANGO (Comenzar, Detener, Paso)***

***cuando solo se pasa 1 a la funcion Range por default(por defecto) STOP***

In [ ]:
for i in range (11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
nombre = input("Digite su Nombre: ")
for i in range(15):
  print(i, nombre)

Digite su Nombre: Lore y Juancho
0 Lore y Juancho
1 Lore y Juancho
2 Lore y Juancho
3 Lore y Juancho
4 Lore y Juancho
5 Lore y Juancho
6 Lore y Juancho
7 Lore y Juancho
8 Lore y Juancho
9 Lore y Juancho
10 Lore y Juancho
11 Lore y Juancho
12 Lore y Juancho
13 Lore y Juancho
14 Lore y Juancho

Escribir un Programa que realice la tabla de Multiplicar de un numero digitado por e teclado.

In [ ]:
num= int(input("Digite le numero de la tabla de multiplicar: "))

for i in range(11):
  print(i, "x", num, "=",i* num)

Digite le numero de la tabla de multiplicar: 5
0 x 5 = 0
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

***Escriba un programa que sume el total que sume los numeros pares de 0 a 10 y saque el total de la suma.***

concepto de variable acumuladora

In [ ]:
# 2 + 4 + 6 + 8 + 10 = 30
#variables acumuladoras
acu = 0

for i in range(0,11,2):
  #print(i)
  acu = acu + i
print(f"El total de la suma de los numeros pares de 0-10 es: {acu}")

El total de la suma de los numeros pares de 0-10 es: 30

In [ ]:
acu = 0

for i in range(0,11,2):
  #print(i)
  acu = acu + i
  print(f"El total de la suma de los numeros pares de 0-10 es: {acu}")

El total de la suma de los numeros pares de 0-10 es: 0
El total de la suma de los numeros pares de 0-10 es: 2
El total de la suma de los numeros pares de 0-10 es: 6
El total de la suma de los numeros pares de 0-10 es: 12
El total de la suma de los numeros pares de 0-10 es: 20
El total de la suma de los numeros pares de 0-10 es: 30

In [ ]:
acu = 0

for i in range(0,11,2):
  print(i)
  acu = acu + i
print(f"El total de la suma de los numeros pares de 0-10 es: {acu}")

0
2
4
6
8
10
El total de la suma de los numeros pares de 0-10 es: 30

# ***TALLER***

1. Crear un bucle que cuente todos los números pares hasta
el 100 ciclo for

In [ ]:
for i in range(0,101,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

2. Haz una tabla de multiplicar utilizando el ciclo for
ciclo for

In [ ]:
num = int(input("Digite el mumero de la tabla de multiplicar: "))

for i in range(21):
  print(i,"x", num, "=", i* num)

Digite el mumero de la tabla de multiplicar: 5
0 x 5 = 0
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60
13 x 5 = 65
14 x 5 = 70
15 x 5 = 75
16 x 5 = 80
17 x 5 = 85
18 x 5 = 90
19 x 5 = 95
20 x 5 = 100

**3. Escribir un programa que pregunte al usuario su edad y
muestre por pantalla todos los años que ha cumplido
(desde 1 hasta su edad). ciclo for**

In [ ]:
edad = int(input("Cuantos Años tienes?: "))
for i in range(edad):
  print("¡Has cumplido!", i+1, "Años")

Cuantos Años tienes?: 15
¡Has cumplido! 1 Años
¡Has cumplido! 2 Años
¡Has cumplido! 3 Años
¡Has cumplido! 4 Años
¡Has cumplido! 5 Años
¡Has cumplido! 6 Años
¡Has cumplido! 7 Años
¡Has cumplido! 8 Años
¡Has cumplido! 9 Años
¡Has cumplido! 10 Años
¡Has cumplido! 11 Años
¡Has cumplido! 12 Años
¡Has cumplido! 13 Años
¡Has cumplido! 14 Años
¡Has cumplido! 15 Años

**4. Escribir un programa que pida al usuario un número entero
positivo y muestre por pantalla todos los números
impares desde 1 hasta ese número separados por comas.**

In [1]:
num = int(input("Digite el numero entero positivo: "))

for i in range(1, num+1, 2):
  print(i, end=",")

Digite el numero entero positivo: 7
1,3,5,7,