OPERADORES MATEMATICOS EN PYTHON

In [ ]:
num1 = 15
num2 = 4 
res = num1 + num2
print(res)

19

In [ ]:
num1 = int(input("Digite el numero 1: "))
num2 =  int(input("Digite el numero 2: "))
res = num1 + num2
print(res)

Digite el numero 1: 15
Digite el numero 2: 4
19

In [ ]:
num1 = float(input("Digite el numero 1: "))
num2 = float(input("Digite el numero 2: "))
res = num1 + num2
print(res)

Digite el numero 1: 4.5
Digite el numero 2: 3.1
7.6

In [ ]:
num1 = int(input("Digite el numero 1: "))
num2 =  int(input("Digite el numero 2: "))
res = num1 + num2
print("La Suma es = {}".format(res))

Digite el numero 1: 33
Digite el numero 2: 27
La Suma es = 60

In [ ]:
Cris1 = int(input("Digite el numero 1: "))
Lore2 =  int(input("Digite el numero 2: "))
Juan3 = int(input("Digite el numero 3: "))
Stiven = int(input("Digite el numero 4: "))
res = Cris1 + Lore2 + Juan3 + Stiven 
print("La Suma de {} + {} + {} + {} es = {}".format(Cris1, Lore2, Juan3, Stiven, res))

Digite el numero 1: 33
Digite el numero 2: 27
Digite el numero 3: 4
Digite el numero 4: 13
La Suma de 33 + 27 + 4 + 13 es = 77

In [ ]:
Cris1 = int(input("Digite el numero 1: "))
Lore2 =  int(input("Digite el numero 2: "))
Juan3 = int(input("Digite el numero 3: "))
Stiven = int(input("Digite el numero 4: "))
res = Cris1 + Lore2 + Juan3 + Stiven 
print(f"La suma de {Cris1} + {Lore2} + {Juan3} + {Stiven} es = {res}")

Digite el numero 1: 33
Digite el numero 2: 27
Digite el numero 3: 4
Digite el numero 4: 13
La suma de 33 + 27 + 4 + 13 es = 77

CALCULADORA + - * /

In [ ]:
num1 = int(input("Digite el numero 1: "))
num2 = int(input("Digite el numero 2: "))

suma = num1 + num2
resta = num1 - num2
multi = num1 * num2
divi = num1 / num2

print("\nEl Resultado De La Suma es = {}".format(suma))
print("\nEl Resultado De La resta es = {}".format(resta))
print(f"\nEl Resultado De La Multiplicacion es ={multi}")
print(f"\nEl Resultado De La Divicion es ={divi}")

Digite el numero 1: 1
Digite el numero 2: 2

El Resultado De La Suma es = 3

El Resultado De La resta es = -1

El Resultado De La Multiplicacion es =2

El Resultado De La Divicion es =0.5

Se recibe una venta por concepto de un producto, se requiere aplicar el Iva (19) 
y conocer el total a pagar con EL IVA incluido

In [ ]:
# variable de captura de venta
venta = float(input("¿Cuanto fue el total de la venta?:"))
iva = venta * 0.19
total = venta + iva 
print("El Iva es = $ {:,.0f} y el total a pagar es = $ {:,.0f}".format(iva, total))
print(f"El Iva es = $ {iva:,.0f} y el total a pagar es = $ {total:,.0f}")

¿Cuanto fue el total de la venta?:10000000
El Iva es = $ 1,900,000 y el total a pagar es = $ 11,900,000
El Iva es = $ 1,900,000 y el total a pagar es = $ 11,900,000

**3. Se Necesita Un Sistema Que Reciba tres Calificaciones parciales de alumnos.
en base a esta, dale su PROMEDIO.**

In [ ]:
califica1= float(input("Digite la calificacion 1: "))
califica2= float(input("Digite la calificacion 2: "))
califica3= float(input("Digite la calificacion 3: "))

prom= (califica1 + califica2 + califica3)/3

print(f"EL promedio es = {prom}")

Digite la calificacion 1: 4.2
Digite la calificacion 2: 3.7
Digite la calificacion 3: 1.8
EL promedio es = 3.233333333333334

In [ ]:
califica1= float(input("Digite la calificacion 1: "))
califica2= float(input("Digite la calificacion 2: "))
califica3= float(input("Digite la calificacion 3: "))

prom= round((califica1 + califica2 + califica3)/3, 1)

print(f"EL promedio es = {prom}")

Digite la calificacion 1: 4.2
Digite la calificacion 2: 3.7
Digite la calificacion 3: 1.8
EL promedio es = 3.2

**1. Un vendedor recibe un sueldo base más un 10% extra por
comisión de sus ventas, el vendedor desea saber cuánto
dinero obtendrá por concepto de comisiones por las tres
ventas que realiza en el mes y el total que recibirá en
el mes tomando en cuenta su sueldo base y comisiones.**

In [ ]:
suelb = float(input("\nDigite el Sueldo Base:$ ".format(suelb)))
ven1 = float(input("\nDigite venta 1:  $ "))
ven2 = float(input("Digite venta 2:  $ "))
ven3 = float(input("Digite venta 3:  $ "))
comi = round((ven1 + ven2 + ven3)*0.10)
tot =  comi + suelb

print(f"\nLa comision de las tres ventas es: {comi:,.0f} y el total del Suedo Base con Comisióno es : {tot:,.0f} ")

Digite el Sueldo Base:$ 1160000

Digite venta 1:  $ 7400000
Digite venta 2:  $ 5100000
Digite venta 3:  $ 15000000

La comision de las tres ventas es: 2,750,000 y el total del Suedo Base con Comisióno es : 3,910,000

**2. Una tienda ofrece un descuento del 15% sobre el total
de la compra y un cliente desea saber cuánto deberá
pagar finalmente por su compra.**

In [ ]:
venta = float(input(f"¿Cuánto es el valor de la compra?: $ "))
desc = venta * 0.15
tot = venta - desc
print(f"\nEl total de la Compra con descuento es: $ {tot:,.0f} y el descuento fue de: $ {desc:,.0f} ")

¿Cuánto es el valor de la compra?: $ 10000

El total de la Compra con descuento es: $ 8,500 y el descuento fue de: $ 1,500

**4. Un maestro desea saber qué porcentaje de hombres y que
porcentaje de mujeres hay en un grupo de estudiantes.**

In [ ]:
#Estudiantes
hom = int(input("Cuentas hombres hay?: "))
muj = int(input("Cuentas mujeres hay?: "))
test= hom + muj
porhom = round((hom *100)/test)
pormuj = round((muj *100)/test)
print(f"El porcentaje de Hombres es: {porhom} % y el porcentaje de Mujeres es: {pormuj}% ")

Cuentas hombres hay?: 5
Cuentas mujeres hay?: 10
El porcentaje de Hombres es: 33 % y el porcentaje de Mujeres es: 67%